Autoresponders not properly detected

RFC 3834 section 5 describes correct behavior for auto responders.  Also, some autoresponders use a 'Delivered-to' header.

https://tools.ietf.org/html/rfc3834#section-5